# Compilação padrão C/C++
*.o
*.obj
*.so
*.a
*.elf
*.bin
*.hex
*.out

# CMake / Ninja / Make
build/
bin/
CMakeCache.txt
CMakeFiles/
Makefile.in

# ESP-IDF
.espressif/
sdkconfig
sdkconfig.old
dependencies.lock

# TI Code Composer Studio / Eclipse
.metadata/
.settings/
*.d
*.pp
*.cproject
*.project

# Buildroot
firmware/node1-gateway-rpi/buildroot/output/
firmware/node1-gateway-rpi/buildroot/dl/

# Python (Scripts HIL)
__pycache__/
*.pyc
.pytest_cache/
venv/
env/

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
*.swp